<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XiaoBan"
        tools:targetApi="34">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e03e26e0ba4e73a79bb0a8cedf723405" />

        <activity
            android:name=".auth.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.XiaoBan.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".auth.LoginActivity" />
        <activity android:name=".auth.RegisterActivity" />

        <activity android:name=".elder.ElderHomeActivity" />
        <activity android:name=".elder.ElderChatActivity" />
        <activity android:name=".elder.ElderMessageActivity" />
        <activity android:name=".elder.ElderProfileActivity" />
        <activity android:name=".elder.ElderProfileEditActivity" />

        <activity android:name=".child.ChildHomeActivity" />
        <activity android:name=".child.ChildDailyReportActivity" />
        <activity android:name=".child.ChildCorrectActivity" />
        <activity android:name=".child.ChildReminderActivity" />
        <activity android:name=".child.ChildBindActivity" />

    </application>

</manifest>
